<div class="container">
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    <strong>Error:</strong> {{errorMessage}}
  </div>
  <h1 id='assetName'>Grower</h1>
  <div class="row">
    <div class="col-md-12 text-right">
      <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAssetModal">Create Production Lot</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-striped" *ngFor="let lot of productionLots">
        <thead class="thead">

          <tr class="thead-cols">
            <th class="info">Productionlot ID</th>
            <th class="">LOT_00{{lot.productionLotId}}</th>
          </tr>
          <tr class="thead-cols">
            <th class="info">Expiration Date</th>
            <th class="">{{lot.expirationDate}}</th>
          </tr>
          <tr class="thead-cols">
            <th class="info">Product Type</th>
            <th class="">Bananas</th>
          </tr>
          <tr class="thead-cols">
            <th class="info">Quantity</th>
            <th class="">{{lot.quantity}}</th>
          </tr>
          <tr class="thead-cols">
            <th class="info">Contract ID</th>
            <th class="">{{lot.contract}}</th>
          </tr>
          <!-- <tr class="thead-cols">
            <th class="info">Actions</th>
            <th class="">
              <button (click)="getForm(contract.contractId);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updateAssetModal">Update Contract</button>
              <button (click)="setId(contract.contractId);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAssetModal">Delete Contract</button>
            </th>
          </tr> -->
        </thead>
      </table>
    </div>
  </div>
</div>

 <owl-date-time [pickerMode]="'dialog'" #dt></owl-date-time>

<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="addAssetModalLabel">Add Asset</h4>
      </div>

      <form [formGroup]="myForm" (ngSubmit)="addAsset($event)">
        <div class="modal-body">

          <div class="form-group text-left">
            <label for="productionId"> Productionlot ID</label>
            <input formControlName="productionId" type="text" class="form-control" [value]="lastProductionlotId" placeholder="LOT_00{{lastProductionlotId}}" ngModel disabled>
          </div>

          <div class="form-group text-left">
            <label for="product_type">Product Type</label>
            <select formControlName="product_type" name="product_type" class="form-control" >
                <option [value]="Bananas">Bananas</option>
                <option [value]="Apples">Apples</option>
                <option [value]="Oranges">Oranges</option>
            </select>
          </div>

          <div class="form-group text-left">
            <label for="quantity">Quantity</label>
            <input formControlName="quantity" type="number" step='any' min="0" max="2000" step="1" value="0" class="form-control">
          </div>

          <div class="form-group text-left">
            <label for="contract">Contract</label>
            <select formControlName="contract" name="contract" class="form-control"  *ngFor="let contract of contracts">
                <option [value]="contract.contractId">{{contract.contractId}}</option>
            </select>
          </div>

        </div>
        <div class="modal-footer">
          <button (click)="addAsset(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Create Productionlot</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>